
* {
    box-sizing: border-box;

}

body {
    background-color: #f0f5f5;
    color: black;
    align-items: center;    
}

.message {
    padding: 5px;
}

.container {
    background-color: #26034a;
    position: relative;
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    color: white; 
    border-radius: 8px;
}

.icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gold;
    color: #26034a;
    font-size: xx-large;

}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media (max-width: 600px) {
    .container {
      width: 90%;
    }
  
    .icon {
      font-size: large;
    }

    .get-started-button {
        padding: 13px 80px;
        background-color: white;
        text-align: center;
        border-radius: 15px;
        font-weight: bold;
    }
  }