
* {
    box-sizing: border-box;
}

body {
    background-color: #f0f5f5;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;  
    min-height: 100vh;  
}

.message {
    padding: 5px;
}

.container {
    background-color: #26034a;
    position: relative;
    width: min(90vw, 600px);
    height: fit-content;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 0;
    color: white; 
    border-radius: 8px;
}


.get-started-button {
    padding: 13px 80px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gold;
    color: #26034a;
    font-size: xx-large;

}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media (max-width: 600px) {
    .container {
      height: 70vh;
    }
  
    .icon {
      font-size: large;
    }

    .get-started-button {
        padding: 13px 80px;
        background-color: white;
        text-align: center;
        border-radius: 15px;
        font-weight: bold;
    }
  }